node_modules

# Ignore built ts files
/actions/aws-params-env-action/__tests__/runner/*
/actions/aws-params-env-action/lib/**/*

terraform.tfstate*
terraform.tfvars
.terraform

# macos cruft
.DS_Store